<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<link rel="stylesheet" href="templates/home_style.css" />
		<link rel="icon" type="image/png" href="icons/undefined.png">
		<title></title>
	</head>
	<body>

		${HEADER}

		<h2>Hey!</h2>
		I'm an undergraduate student studying electrical engineering, this is the place where I share my projects with the world. Anything from small one off projects like a lamp that automatically brightens to wake me up, to bigger projects like a 3D game engine or a discrete radio from scratch.
		<br>
		<br>
		<hr>

		<main>
			${BLOG_HEADLINES}
		</main>

		${FOOTER}

	</body>
</html>
